.footer-menu {
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-copyright{
    color: #FFF;
    font-family: Poppins;
    
    font-style: normal;
    
    line-height: normal;
}